<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *

<dom-module id="estadisticas-app">
  <template>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../../loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load('visualization', '1.0', {'packages':['corechart']});</script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
    <script type="text/javascript">
          google.charts.load('current', {'packages':['bar']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Año', 'Transferencias recibidas', 'Ingresos de efectivo', 'Transferencias realizadas','Retiros de efectivo'],
              ['2017', 10, 20, 2, 1],
              ['2018', 11, 4, 2, 28],
              ['2019', 6, 10, 3, 3],
              ['2020', 10, 5, 3, 2]
            ]);

            var options = {
              chart: {
                title: 'Estadisticas Movimientos',
                subtitle: 'Ingresos y Egresos: 2017-2020',
              }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        </script>

<div class ="container" >
    	<div class="row">
    		<div class="col-lg-12" style="background-color:White; text-align:center; width:85%">
    			<h3>Movimientos realizadoss</h3>
          <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
    			<!--<img src="https://image.flaticon.com/icons/svg/3069/3069169.svg" width="200px" height="200px" alt="">-->
    		</div>
    	</div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EstadisticasMovimientos extends Polymer.Element {
      static get is() { return 'estadisticas-app'; }
      static get properties() {
        return {
          cuentas: {
              type: Array,
              notify: true
          },
          tipoMovimiento:{
            type: String,
            value: ""
          },
          cuenta:{
            type: String,
            value: ""
          },
          cuentasSelect:{
            type: Array,
            notify: true
          }
        };
      }
      llenarSelectCuenta(){
        var URL2= 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?f={"idCuenta":1}&apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt';
        console.log("Seleccionaré una cuenta");
        var request = new XMLHttpRequest();
      //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        //request.open("GET", "http://localhost:3002/Clientes", false);
        //request.open("GET", "https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.open("GET", URL2, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.cuentasSelect = JSON.parse(request.responseText);
      }
      obtenerMovimientos() {
        var URL = "";
    /*    document.getElementById("resultados").innerHTML = "Cuenta: "+document.getElementById("cuenta").value + "<br>"
        + "Tipo Movimiento: "+document.getElementById("tipoMovimiento").value + "<br>"
        + "Fecha Inicio: "+document.getElementById("fechaInicio").value + "<br>"
        + "Fecha Fin: "+document.getElementById("fechaFin").value + "<br>";
*/      console.log("Tipo movimiento: "+this.tipoMovimiento+ " Cuenta: "+this.cuenta);
        if(this.cuenta!=""){
          if(this.tipoMovimiento!=""){
            console.log('https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"},{"idCuenta":'+this.cuenta+'}]}');
            URL = 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"},{"idCuenta":'+this.cuenta+'}]}';
            //https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"Ingreso de efectivo"},{"cliente":"D0000001"},{"idCuenta": 74001003}]}
          }else {
            console.log('https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"idCuenta":'+this.cuenta+'}');
            URL = 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"idCuenta":'+this.cuenta+'}';
          }
        }else{
          if(this.tipoMovimiento!=""){
            console.log('https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"}]}');
            URL = 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"}]}';
          }else{
            console.log("https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt");
            URL = "https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt";
          }
        }
        var request = new XMLHttpRequest();
      //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        //request.open("GET", "http://localhost:3002/Clientes", false);
        //request.open("GET", "https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.open("GET", URL, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.cuentas = JSON.parse(request.responseText);
        //console.table(this.clientes);
      }
    }

    window.customElements.define(EstadisticasMovimientos.is, EstadisticasMovimientos);
  </script>
</dom-module>
