<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *
<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
    <div class ="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
        <img src="https://image.flaticon.com/icons/svg/3069/3069169.svg" width="200px" height="200px" alt="">
      </div>
      <div class="row">
        <button type="button" on-click="obtenerClientes" name="button" class="btn btn-success">Obtener Clientes</button>

      </div>

      <div class="row">
        <table class="table table-hover">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
              type: Array,
              notify: true
          }
        };
      }
      obtenerClientes() {
        var request = new XMLHttpRequest();
      //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        //request.open("GET", "http://localhost:3002/Clientes", false);
        request.open("GET", "https://api.mlab.com/api/1/databases/acruz/collections/Clientes?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        //console.table(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
