<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

Access-Control-Allow-Origin: *
<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
      .divCabecera2 {
       border: 5px outset Whitesmoke;
       background-color: Whitesmoke;
       color: White;
      }
    </style>

    <nav class="navbar navbar-inverse " style="width:100%">
     <div class="divCabecera2" style="width:100%">
       <div class="container-fluid ">
         <div class="navbar-header">
           <label class="navbar-brand" href="#">Bienvenido</label>
         </div>
         <!--<ul class="nav navbar-nav">
           <li><a href="#">Home</a></li>
         </ul>-->

         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button" on-click="obtenerMovimientos" name="button" class="btn btn-link navbar-btn"><span class="text-primary">Consultar Movimientos</span></button>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button" on-click="hacerTransferencias" name="button" class="btn btn-link navbar-btn"><span class="text-primary">Realizar una transferencia</span></button>

         <ul class="nav navbar-nav navbar-right">
           <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
           <li><a href="http://localhost:3001/"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
         </ul>
       </div>
       </div>
     </nav>
  <!--    <div class="row" >
        <h1>Gestor de Movimientos</h1>
        <button type="button" on-click="obtenerMovimientos" name="button" class="btn btn-success">Consultar Movimientos</button>
           <!--  <button onclick="getProductos()" type="button" name="button" class="btn btn-success"> Consultar movimientos</button></button>
        <button type="button" on-click="hacerTransferencias" name="button" class="btn btn-success">Realizar una transferencia</button>
      </div>

-->
<div class="container">
  <div class="row">
      <div class="form-group" hidden$={{!movimientosEncendido}} >
        <!--<gestor-clientes></gestor-clientes>-->
        <consultar-movimientos></consultar-movimientos>
      </div>
      <div class="form-group" hidden$={{!transferenciasEncendido}} >
        <!--<mi-visor></mi-visor>-->
        <transferencia-app></transferencia-app>
      </div>
    </div>
</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          movimientos: {
              type: Array,
              notify: true
          },
          movimientosEncendido: {
            type: Boolean,
            value: false
          },
          transferenciasEncendido: {
            type: Boolean,
            value: false
          }
        };
      }
      obtenerMovimientos() {
          console.log("Muestro los movimientos");
          this.movimientosEncendido = true;
          this.transferenciasEncendido = false;
      }
      hacerTransferencias(){
        console.log("Muestro ventanaTransferencias");
        this.transferenciasEncendido = true;
        this.movimientosEncendido = false;
      }
    }

    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
