<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *

<dom-module id="transferencia-app">
  <template>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container"  style="width:50%" hidden$={{logado}}> <!--INICIO DIV CONTAINER-->
         <div class="row"><!--INICIO DIV ROW-->
         	  <form>
            <div class="col-xs-12" hidden$={{logado}}>
                  <h4 class="text-primary">¡Ingresa los datos solicitados!</h4>
            </div>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="cuenta" class="text-primary">Cuenta:</label>
                <input type="text" value="{{idCuenta::input}}" class="form-control" id="cuenta" placeholder="Cuenta" name="cuenta" required>
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="cliente" class="text-primary">Cliente:</label>
                <input type="text" value="{{cliente::input}}" class="form-control" id="cliente" placeholder="Enter cliente" name="cliente" required>
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="importe" class="text-primary">Importe a tranferir:</label>
                <input type="number" value="{{importe::input}}" class="form-control" id="importe" placeholder="Importe" name="importe">
            </div>
            <br>

             <div class="col-xs-12 form-group" hidden$={{logado}}>
               <br />
                <button on-click="transferencia" type="button" name="buttonReg" class="btn btn-primary">Transferir</button>
                <!--<button on-click="login" type="button" name="button" class="btn btn-primary">Login</button>-->
              </div>
         </form>
     </div><!--FIN DIV ROW-->
</div> <!--FIN DIV CONTAINER-->

    <div hidden$={{!logado}} style="width:70%">
              <br />
              <h4 class="text-success text-center">¡Transferencia realizada exitosamente!</h4>
              <br /><br />
              <button on-click="otraTransferencia" type="button" name="buttonReg" class="btn btn-link btn-block"><span class="text-primary">Realizar otra transferencia</span></button>
        <!--<span></span>-->
<!--      <gestor-movimientos></gestor-movimientos>-->
    </div>

    <iron-ajax
      id="doRegMov"
      url="http://localhost:3002/RegistrarMovimiento"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TransferenciaApp extends Polymer.Element {
      static get is() { return 'transferencia-app'; }
      static get properties() {
        return {
          idCuenta: {
            type: Number
          },
          cliente: {
            type: String
          },
          importe: {
           type: Number
         },
         logado: {
           type: Boolean,
           value: false
         }
       };
     }
     otraTransferencia(){
       this.logado = false;
     }
     transferencia(){
       var f = new Date();
       var fecha = f.getFullYear()+"-" + (f.getMonth() +1) + "-" +f.getDate()
       console.log("Fecha:"+fecha);
       console.log("idCuenta"+this.idCuenta);
       console.log("cliente:"+this.cliente);
       console.log("importe:"+this.importe)
       var insertaCuenta = {"idCuenta":(new Number(this.idCuenta)),"cliente":this.cliente,"movimientos":
          {"movimientoId":9,"fecha":fecha,"importe":(new Number(this.importe)),"tipo":{"idTipo":"ET","descripcion":"Transferencia realizada"}}
        };
        console.log(insertaCuenta);
       /**{
       {
       	"idCuenta":74001003,
       	"cliente":"D0000001",
       	"movimientos":	{	"movimientoId":5,
       						"fecha":"2020-08-31",
       						"importe":3500.00,
       						"tipo":{
       								"idTipo":"IE",
       								"descripcion":"Ingreso de efectivo"
       							}
       					}
       }
*/     console.log(insertaCuenta);
        this.$.doRegMov.body = JSON.stringify(insertaCuenta);
        this.$.doRegMov.generateRequest();
        console.log("Petición enviada");
     }
     transferencia2() {
       var loginData = {
         "idCliente":this.idCliente,
         "nombre":this.nombre,
         "apellido":this.apellido,
         "email":this.email,
         "password":this.password
       };
       console.log(loginData);
       this.$.doRegMov.body = JSON.stringify(loginData);
       this.$.doRegMov.generateRequest();
       console.log("Petición enviada");
     }
     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       //console.log(data.detail.response);
       //console.log(JSON.parse(data.detail.response));
       this.logado = true;
       console.log("logado es igual a true");
     }
     showError(error) {
       console.log("Ocurrio un error");
       alert("Datos ingresados incorrectos, por favor valide");
       console.log(error);
     }
   }

   window.customElements.define(TransferenciaApp.is, TransferenciaApp);
    </script>
  </dom-module>
