<link rel="import" href="../../bower_components/polymer/polymer-element.html">
Access-Control-Allow-Origin: *

<dom-module id="demopolymer-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
     <!--<img src="https://www.bbva.mx/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" alt="BBVA" width="152" height="118">3885 × 1000 píxeles-->
      <!--<img src="https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/comun/bbva_footer_dkt_es.png" alt="BBVA" width="647" height="166">-->
      <img src="https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/comun/bbva_footer_mb_es.png" alt="BBVA" width="647" height="166" style="vertical-align:middle;margin:0px 400px">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app'
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
