<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--<link rel="import" href = "../../bower_components/iron-form/iron-form.html">
<link rel = "import" href = "../../bower_components/paper-input/paper-input.html">
<link rel = "import" href = "../../bower_components/paper-button/paper-button.html">
<link rel = "import" href = "../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../../bower_components/paper-menu/paper-menu.html">
<link rel = "import" href = "../../bower_components/paper-item/paper-item.html">-->
<link rel="import" href="../../registro.html">
Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <style>
      :host {
        display: block;
      }
         .paperbtn {
            background: #4682B4;
            color: white;
         }
         .paperinput{
            width: 25%;
         }
         .menu{
            width:25%;
         }
    </style>
  <!--  <div class="container">
      <div class="myDiv">
       <div class="row" hidden$={{logado}}>
         <h3>¡Bienvenido!</h3>
       </div>
       <div class="row" hidden$={{logado}} class="form-group">
         <div class="col-xs-3">
           <label for="email">Email:</label>
           <input type="email" value="{{email::input}}" class="form-control" id="email" placeholder="Enter email" name="email">
         </div>
       </div>
       <br>
       <div class="row" hidden$={{logado}} class="form-group">
         <div class="col-xs-3">
           <label for="pwd">Password:</label>
           <input type="password" value="{{password::input}}" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
         </div>
       </div>
       <br>
       <div class="form-group" hidden$={{logado}} >
          <button on-click="login" type="button" name="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>-->
<div class="container" hidden$={{logado}} style="width:50%" ><!--INICIO DIV CONTAINER-->
  <div class="row"><!--INICIO DIV ROW-->
    <form><!--action="/../../registro.html"-->
             <div class="col-xs-12" hidden$={{logado}}>
               <h4 class="text-primary">Ingreso de usuarios al sistema</h4>

             </div>
             <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="email" class="text-primary">Correo:</label>
                <input type="email" value="{{email::input}}" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                 <label for="pwd" class="text-primary">Contraseña:</label>
                 <input type="password" value="{{password::input}}" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
             </div>
             <br>
             <div class="col-xs-12 form-group" hidden$={{logado}} >
               <br />
                <button on-click="login" type="button" name="button" class="btn btn-primary">Ingresar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" formaction="/../../registro.html" name="buttonR" class="btn btn-primary">Registrarse</button>
                <br />
                <br />
                <hr style="width:100%;height:3px;border-width:0;color:gray;background-color:gray">
                <br />
                <button type="submit" formaction="/../../estadisticas.html" class="btn btn-info">Estadisticas BBVA</button>

              </div>
              <br><br><br><br><br><br>
        </form>

     </div><!--FIN DIV ROW-->
</div> <!--FIN DIV CONTAINER-->

    <div hidden$={{!logado}}>
      <gestor-movimientos></gestor-movimientos>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
           type: String
         },
         logado: {
           type: Boolean,
           value: false
         }
       };
     }
     login() {
    //var passCifrado = CryptoJS.AES.encrypt(JSON.stringify(this.password), "Practitioner")+"";
       console.log("Valor pass cifrado: "+this.password);

       var loginData = {
         "email":this.email,
         "password":this.password
       };
       console.log(loginData);
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
     }
     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       //console.log(data.detail.response);
       console.log(JSON.parse(data.detail.response));
       this.logado = true;
     }
     showError(error) {
       console.log("Ocurrio un error");
       alert("Datos ingresados incorrectos, por favor valide");
       console.log(error);
     }
   }

   window.customElements.define(LoginApp.is, LoginApp);
    </script>
  </dom-module>
