<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *

<dom-module id="registro-app">
  <template>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container"  style="width:50%" hidden$={{logado}}> <!--INICIO DIV CONTAINER-->
         <div class="row"><!--INICIO DIV ROW-->
         	  <form>
            <div class="col-xs-12" hidden$={{logado}}>
                  <h4 class="text-primary">¡Complete el formulario!</h4>
            </div>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="cliente" class="text-primary">Cliente:</label>
                <input type="text" value="{{idCliente::input}}" class="form-control" id="cliente" placeholder="Enter cliente" name="cliente" required>
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="nombre" class="text-primary">Nombre:</label>
                <input type="text" value="{{nombre::input}}" class="form-control" id="nombre" placeholder="Enter nombre" name="nombre">
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="apellido" class="text-primary">Apellidos:</label>
                <input type="text" value="{{apellido::input}}" class="form-control" id="apellido" placeholder="Enter apellidos" name="apellido">
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                <label for="email" class="text-primary">Email:</label>
                <input type="email" value="{{email::input}}" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <br>
            <div class="col-xs-12 form-group" hidden$={{logado}} style="width:70%">
                 <label for="pwd" class="text-primary">Password:</label>
                 <input type="password" value="{{password::input}}" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
             </div>
             <br />
             <div class="col-xs-12 form-group" hidden$={{logado}}>
               <br />
                <button on-click="registro" type="button" name="buttonReg" class="btn btn-primary">Registrarse</button>
                <!--<button on-click="login" type="button" name="button" class="btn btn-primary">Login</button>-->
              </div>
         </form>

         <div class="col-lg-10" style="background-color:White; text-align:center; width:85%">
           <br />
           <br />
           <a href="http://localhost:3001/"><span class="glyphicon glyphicon-log-in"></span> Regresar</a>
         </div>
     </div><!--FIN DIV ROW-->
</div> <!--FIN DIV CONTAINER-->

    <div hidden$={{!logado}}>
      <!--<div class="myDiv">
        <span>Bienvenido a la aplicación</span>
      </div>-->
      <gestor-movimientos></gestor-movimientos>
    </div>

    <iron-ajax
      id="doReg"
      url="http://localhost:3002/Registrar"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroApp extends Polymer.Element {
      static get is() { return 'registro-app'; }
      static get properties() {
        return {
          idCliente: {
            type: String
          },
          nombre: {
            type: String
          },
          apellido: {
           type: String
         },
          email: {
            type: String
          },
          password: {
           type: String
         },
         logado: {
           type: Boolean,
           value: false
         }
       };
     }
     registro() {
       //var passCifrado = CryptoJS.AES.encrypt(JSON.stringify(this.password), "Practitioner")+"";
       //console.log("Valor pass cifrado: "+passCifrado);
       //var passDescifrado = CryptoJS.AES.decrypt(passCifrado, "Practitioner");
       //var plaintext = passDescifrado.toString(CryptoJS.enc.Utf8);
       //console.log("Valor pass descifrado: "+plaintext);
       var loginData = {
         "idCliente":this.idCliente,
         "nombre":this.nombre,
         "apellido":this.apellido,
         "email":this.email,
         "password":this.password
       };
       console.log(loginData);
       this.$.doReg.body = JSON.stringify(loginData);
       this.$.doReg.generateRequest();
       console.log("Petición enviada");
     }
     manageAJAXResponse(data) {
       console.log("Respuesta recibida del servidor");
       //console.log(data.detail.response);
       //console.log(JSON.parse(data.detail.response));
       this.logado = true;
       console.log("logado es igual a true");
     }
     showError(error) {
       console.log("Ocurrio un error");
       alert("Datos ingresados incorrectos, por favor valide");
       console.log(error);
     }
   }

   window.customElements.define(RegistroApp.is, RegistroApp);
    </script>
  </dom-module>
