<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *

<dom-module id="consultar-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>


<div class ="container" >
    	<div class="row">
    		<div class="col-lg-12" style="background-color:White; text-align:center; width:85%">
    			<h4 class="text-primary">Movimientos realizados</h4>
    		</div>
    	</div>
</div>

<div class="container"  style="width:85%" >
	<div class="row">
			<div class="col-sm-2" style="background-color:White;" >
				<label for="sel1" class="text-primary">Cuenta:</label>
				<select on-focus="llenarSelectCuenta" class="form-control" value="{{cuenta::input}}">
          <option value="">Todas</option>
          <template is="dom-repeat" items="{{cuentasSelect}}">
  					<option>[[item.idCuenta]]</option>
          </template>
				</select>
			</div>
      <div class="col-sm-3" style="background-color:White;">
				<label for="sel1" class="text-primary">Tipo Movimiento:</label>
				<select class="form-control" value="{{tipoMovimiento::input}}">
          <option value="">Todos</option>
					<option value="Transferencia recibida">Transferencias recibidas</option>
					<option value="Ingreso de efectivo">Ingresos de efectivo</option>
					<option value="Transferencia realizada">Transferencias realizadas</option>
					<option value="Retiro de efectivo">Retiros de efectivo</option>
				</select>
			</div>
<!--
      <div class="col-sm-3" style="background-color:White;">
				<label for="start">Fecha inicio:</label><br>
				<input type="date" id="fechaInicio" name="trip-start" min="2018-01-01"  max="2020-12-31"/>
			</div>

			<div class="col-sm-3" style="background-color:White;">
				<label for="start">Fecha fin:</label><br>
					<input type="date" id="fechaFin" name="trip-start" min="2018-01-01" max="2020-12-31"/>
			</div>
  -->
      <div class="col-sm-1" style="background-color:White;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" on-click="obtenerMovimientos" name="button" class="btn btn-info">Consultar</button>
			</div>

	</div><!--DIV ROW-->
</div><!--DIV CONTAINER-->
<hr />
<div id=resultados>
      <!--EMPIEZO TABLA-->
      <div class="row">
        <div class="table-responsive col-sm-12">
          <table class="table table-striped" style="width:90%">
            <thead>
              <tr>
                <th class="text-info">#</th>
                <th class="text-info">Cliente</th>
                <th class="text-info">Cuenta</th>
                <th class="text-info">fecha</th>
                <th class="text-info">Importe</th>
                <th class="text-info">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{cuentas}}">
                <tr>
                  <td>
                    [[item.movimientos.movimientoId]]
                  </td>
                  <td>
                    [[item.cliente]]
                  </td>
                  <td>
                    [[item.idCuenta]]
                  </td>
                  <td>
                    [[item.movimientos.fecha]]
                  </td>
                  <td>
                    [[item.movimientos.importe]]
                  </td>
                  <td>
                    [[item.movimientos.tipo.descripcion]]
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
          </div>
        </div>
      <!--TERMINO TABLA-->
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsultarMovimientos extends Polymer.Element {
      static get is() { return 'consultar-movimientos'; }
      static get properties() {
        return {
          cuentas: {
              type: Array,
              notify: true
          },
          tipoMovimiento:{
            type: String,
            value: ""
          },
          cuenta:{
            type: String,
            value: ""
          },
          cuentasSelect:{
            type: Array,
            notify: true
          }
        };
      }
      llenarSelectCuenta(){
        var URL2= 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?f={"idCuenta":1}&apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt';
        console.log("Seleccionaré una cuenta");
        var request = new XMLHttpRequest();
      //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        //request.open("GET", "http://localhost:3002/Clientes", false);
        //request.open("GET", "https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.open("GET", URL2, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.cuentasSelect = JSON.parse(request.responseText);
      }
      obtenerMovimientos() {
        var URL = "";
    /*    document.getElementById("resultados").innerHTML = "Cuenta: "+document.getElementById("cuenta").value + "<br>"
        + "Tipo Movimiento: "+document.getElementById("tipoMovimiento").value + "<br>"
        + "Fecha Inicio: "+document.getElementById("fechaInicio").value + "<br>"
        + "Fecha Fin: "+document.getElementById("fechaFin").value + "<br>";
*/      console.log("Tipo movimiento: "+this.tipoMovimiento+ " Cuenta: "+this.cuenta);
        if(this.cuenta!=""){
          if(this.tipoMovimiento!=""){
            console.log('https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"},{"idCuenta":'+this.cuenta+'}]}');
            URL = 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"},{"idCuenta":'+this.cuenta+'}]}';
            //https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"Ingreso de efectivo"},{"cliente":"D0000001"},{"idCuenta": 74001003}]}
          }else {
            console.log('https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"idCuenta":'+this.cuenta+'}');
            URL = 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"idCuenta":'+this.cuenta+'}';
          }
        }else{
          if(this.tipoMovimiento!=""){
            console.log('https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"}]}');
            URL = 'https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&q={"$and":[{"movimientos.tipo.descripcion":"'+this.tipoMovimiento+'"}]}';
          }else{
            console.log("https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt");
            URL = "https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt";
          }
        }
        var request = new XMLHttpRequest();
      //  request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        //request.open("GET", "http://localhost:3002/Clientes", false);
        //request.open("GET", "https://api.mlab.com/api/1/databases/acruz/collections/Cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.open("GET", URL, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.cuentas = JSON.parse(request.responseText);
        //console.table(this.clientes);
      }
    }

    window.customElements.define(ConsultarMovimientos.is, ConsultarMovimientos);
  </script>
</dom-module>
