<link rel="import" href="../../bower_components/polymer/polymer-element.html">
Access-Control-Allow-Origin: *
<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
    <div class ="container">
    <!--  <div class="row">
        <img src="https://image.flaticon.com/icons/svg/3069/3069169.svg" width="200px" height="200px" alt="">
      </div>-->
      <div class="row">
      <!--  <button type="button" on-click="incrementar" name="button" class="btn btn-secondary">Cargar Datos</button>-->
        <button type="button"  class="btn btn-info" on-click="obtenerInfoBanxico">Consulta aquí información de Banxico</button>
        <!--<input type="text" value="{{prop1::input}}"/> <!--si cambio el valor se refleja en el otro texto de entrada-->
        <!--<input type="text" value="[[prop1]]"/>-->
        <br />
        <br />
      </div>
      <!--<div class="row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
      </div>-->



    <div id=resultados>
          <!--EMPIEZO TABLA-->
          <div class="row">
            <div class="table-responsive col-sm-12">
              <table class="table table-striped" style="width:90%">
                <thead>
                  <tr>
                    <th class="text-info">Id Serie</th>
                    <th class="text-info">Fecha inicio</th>
                    <th class="text-info">Fecha fin</th>
                    <th class="text-info">Periodicidad</th>
                    <th class="text-info">Cifra</th>
                    <th class="text-info">Unidad</th>
                  </tr>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{idSerie}}">
                    <tr>
                      <td>
                        [[item.idSerie]]
                      </td>
                      <td>
                        [[item.fechaInicio]]
                      </td>
                      <td>
                        [[item.fechaFin]]
                      </td>
                      <td>
                        [[item.periodicidad]]
                      </td>
                      <td>
                        [[item.cifra]]
                      </td>
                      <td>
                        [[item.unidad]]
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
              </div>
            </div>
          <!--TERMINO TABLA-->
        </div>
</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          myArr: {
              type: Array,
              notify: true
          },
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          idSerie:{
            type: Array,
            notify: true
          }
        };
      }
      incrementar(){//Método de nuestro componente polymer
	        this.prop2+=1;
	         console.log("Propiedad 2: "+this.prop1);//siempre vale mi-visor
	          console.log("Propiedad 2: "+this.prop2);//va aumentando 1 cada click
      }
    obtenerInfoBanxico() {
        var request = new XMLHttpRequest();
        var URLBanxico = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/SF1-SF19?token=68ed5d60a88cce177aad06be773e5ab7a33caa0cfc531731bbd632dbfc497656";
        request.open("GET", URLBanxico, false);
        console.log("PETICION:"+URLBanxico);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        var respuesta = JSON.stringify(request.responseText);
        this.myArr = JSON.parse(request.responseText);

        console.log("RESPONSE: "+respuesta);

      /*  for (let index = 0; index < this.myArr.bmx.series.length; index++) {
            console.log("AQUI2:"+ this.myArr.bmx.series[index].idSerie);
        }*/
        this.idSerie = [{title: this.myArr.bmx.series[0].idSerie, author: this.myArr.bmx.series[0].titulo},{title: "Persuasion2", author: "Austen2"}];
        for (let index = 0; index < this.myArr.bmx.series.length; index++) {
            this.idSerie[index] = {idSerie:this.myArr.bmx.series[index].idSerie, titulo: this.myArr.bmx.series[index].titulo,fechaInicio:this.myArr.bmx.series[index].fechaInicio,fechaFin:this.myArr.bmx.series[index].fechaFin,periodicidad:this.myArr.bmx.series[index].periodicidad,cifra:this.myArr.bmx.series[index].cifra,unidad:this.myArr.bmx.series[index].unidad};
        }
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
